// src/assets/styles/global.scss
@import "./variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-inter;
  background-color: $background-color;
  color: $text-color;
  line-height: 1.6;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  background-color: $primary-color;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: $font-inter;
  &:hover {
    opacity: 0.9;
  }
}
