@import "./styles/variables";

.mainContent {
  flex-grow: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.pageTitle {
  text-align: start;
  margin-left: 2rem;
  h1 {
    font-family: $font-inter;
    font-size: 1.5rem;
    font-weight: 700;
    color: $primary-color;
    margin-top: 2rem;
    span {
      color: $text-color;

      font-weight: 600;
    }
  }

  @media (max-width: 768px) {
    padding: 0.75rem 1rem;

    h1 {
      font-size: 1.25rem;
    }
  }
}
.noDataMessage {
  padding: 2rem;
  font-size: 1.2rem;
  color: $text-color;
  text-align: center;
}
